<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!--       Para incluir la vista con el menu-->
    {%if app.user%}
    <div style="border: 1px solid black; margin: 10px; background-color: lawngreen; padding: 10px">
    <a href="{{ path('app_logout') }}">Logout</a><br><br>
    {% include 'comunes/_menu.html.twig' %}
    </div>
    {%else%}
    <div style="border: 1px solid black; margin: 10px; background-color: lawngreen; padding: 10px">
    <a href="{{ path('app_register') }}">Registrar</a>
    <a href="{{ path('app_login') }}">Login</a>
    <h1>BIENVENIDO A LA PAGINA DE EMPRESAS</h1>
    <h3>¡Registrate o logeate para que puedas disfrutar de nuestra web al completo!</h3>
    </div>
    {%endif%}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>
